body {
  margin: 0;
  overflow: hidden;
  background: #87ceeb; /* sky blue */
}

canvas {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* 100% of viewport height */
}

#heading {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  font-family: sans-serif;
  z-index: 10;
}

#progress-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 253, 253, 0.949);
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  font-family: sans-serif;
  z-index: 20;
}